body{
    background-color: #191b1b;
}
/*NAV*/
.navbar{
    background-color: #111111;
    position:relative;
}
.offcanvas{
    background-color: #191b1b;
}
nav div a img.homelogo{
    width:auto;
    height: 50px;
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 20px;
}
/*CONTENT*/
.content{
    display:flex;
    flex-direction: row;
    align-items: baseline;
}
.ImageItem{
    width:55%;
    height:auto;
    margin:6% 1.2% 0 3%;
}
.ImageItem img{
    width:100%;
    min-height:310px ;
}
.contentinfo{
    position: relative;
    color: #c5c5c5;
    margin-top:1em;
}

@media only screen and (max-width:750px){
    .content{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .ImageItem{
        width:80%;
        height:auto;
        margin:6% 1.2% 0 3%;
    }
    .ImageItem img{
        width:100%;
        min-height:310px ;
    }
}

/*FOOTER*/
footer{
    min-height: 50px;
    background-color: #858786;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
}
footer div.d-sm-flex{
    margin:4px 12% 0px
}
p#copyr{
    margin-bottom: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
p#terms{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul.address{
    margin-top:12px;
    margin-bottom:0px;
    padding-bottom:20px;
}
li.more{
    padding:12px auto;
    margin:12px auto;
}