body{
    background-color: #191b1b;
}
/*NAV*/
.navbar{
    background-color: #111111;
    position:fixed;
}
.offcanvas{
    background-color: #191b1b;
}
nav div a img.homelogo{
    width:auto;
    height: 50px;
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 20px;
}
/*CAROUSEL*/
.carousel{
    margin-top: 77px;
}
.carousel-inner::before {
    pointer-events: none;
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(25,27,27,1) 0%, rgba(25,27,27,1) 1%, rgba(0,212,255,0) 6%);
}
.carousel-indicators{
    margin-bottom: 6%;
}
.carousel-item{
    width:100%;
    height:auto;
    max-height:505px;
}
img#caro1{
    aspect-ratio: 2 / 1;
    display: flex;
    object-fit:cover;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(25,27,27,1) 0%, rgba(0,212,255,0) 100%);

}
img#caro2{
    aspect-ratio: 2 / 1;
    display: flex;
    object-fit:cover;
    height: max-content;
}
img#caro3{
    aspect-ratio: 2 / 1;
    object-fit:cover;
    height: max-content;
}
/*UPDATES*/
.Updates-Container{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    max-height: 900px;
}
#banner{
    margin:0px 3% 0px 4%;
    padding:0px;
    width:150%;
    height:auto;  
}
.myImage{
    width:100%;
}
#innertext {
    color:#c5c5c5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4%;
    font:Georgia;
}
#innertext p{
    text-align: center;
    font-size: 110%;
}
#innertext h1{
    text-align: center;
    margin-bottom: 5%;
    font-size: 64px;
}

/*LOCATIONS*/
#LocateHeader{
    color: #c5c5c5;
    margin-left:1.6%;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    width: 40%;
    margin-bottom: 2%;
    padding-bottom: 0;
}
p.card-text{
    text-align: center;
}
/*FOOTER*/
footer{
    min-height: 50px;
    background-color: #858786;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
}
footer div.d-sm-flex{
    margin:4px 12% 0px
}
p#copyr{
    margin-bottom: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
p#terms{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul.address{
    margin-top:12px;
    margin-bottom:0px;
    padding-bottom:20px;
}
li.more{
    padding:12px auto;
    margin:12px auto;
}


@media only screen and (max-width: 900px) {
    .Updates-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #banner{
        margin:0px 4% 0px 4%;
        padding:0px;
        width:55%;
    }
    .myImage{
        width:100%;
    }
    #innertext {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 4% 0px;
    }
    #innertext p{
        text-align: center;
        font-size: 120;
    }
    #innertext h1{
        text-align: center;
        margin-bottom: 5%;
        font-size: 350%;
        height: 100%;
        width: auto;
    }
}
@media only screen and (max-width: 750px){
    .cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .card{
        margin:3% auto;
        width: 70%;
    }
}
@media only screen and (max-width: 450px) {
    #LocateHeader{
        color: #c5c5c5;
        margin-left:16%;
    }
    .cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .card{
        margin:3% auto;
    }
    #innertext {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 4% 0px;
    }
    #innertext p{
        text-align: center;
        font-size:100%;
    }
    #innertext h1{
        text-align: center;
        margin-bottom: 5%;
        font-size: 250%;
        height: 100%;
        width: auto;
    }
  }
