body{
    background-color: #191b1b;
}
.navbar{
    background-color: #111111;
    position:relative;
}
.offcanvas{
    background-color: #191b1b;
}
nav div a img.homelogo{
    width:auto;
    height: 50px;
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 20px;
}

.p-5{
    background-color: #c5c5c5;
}
.Updates-Container{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    max-height: 900px;
}
#banner{
    margin:0px 3% 0px 4%;
    padding:0px;
    width:150%;
    min-width: 45%;
    height:auto;  
}
.myImage{
    width:100%;
}
#innertext {
    color:#c5c5c5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4%;
    font:Georgia;
}
.Updates-Container2{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    max-height: 900px;
}
#banner2{
    margin:0px 4% 0px 3%;
    padding:0px;
    width:10%;
    min-width: 45%;
    height:auto;  
}
.myImage2{
    width:100%;
}
#contbtn{
    position: absolute;
    left: 20%;
}
#innertext2 {
    color:#c5c5c5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
    font:Georgia;
}
#innertext p{
    text-align: center;
    font-size: 110%;
}
#innertext h1{
    text-align: center;
    margin-bottom: 5%;
    font-size: 64px;
}
#readbtn{
    position: absolute;
    right: 20%;
}
footer{
    min-height: 50px;
    background-color: #858786;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
}
footer div.d-sm-flex{
    margin:4px 12% 0px
}
p#copyr{
    margin-bottom: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
p#terms{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul.address{
    margin-top:12px;
    margin-bottom:0px;
    padding-bottom:20px;
}
li.more{
    padding:12px auto;
    margin:12px auto;
}

@media only screen and (max-width: 900px) {
    .Updates-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #banner{
        margin:0px 4% 0px 4%;
        padding:0px;
        width:55%;
    }
    .myImage{
        width:100%;
    }
    #innertext {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 4% 0px;
    }
    #innertext p{
        text-align: center;
        font-size: 120;
    }
    #innertext h1{
        text-align: center;
        margin-bottom: 5%;
        font-size: 350%;
        height: 100%;
        width: auto;
    }
    #readbtn{
        clear:both;
        position: absolute;
        width: 59%;
    }
    #contbtn{
        position: absolute;
        left: 55px;
    }
}